/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent background */
    z-index: 1000; /* Make sure it's on top of other elements */
}

.navbar-brand {
    color: #ffffff;
    opacity: 60%;
}

.nav-item {
    margin-left: 3em;
}

/* Body */
body {
    background-color: #1c1c1c;
    color: #ededed;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Hero image section */
.masthead {
    background-image: url(images/pier2.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #f0f0f0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

/* Fancy text */
h1 {
    font-size: 5rem;
}

.fancy {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 10%;
}

/* Subtitles */
h2 {
    font-size: 2.5rem;
    color: #f0f0f0;
    font-weight: 300;
}

/* Padding between sections so navbar isn't over Subtitles */
.sub-title-padding {
    padding-top: 10rem;
    padding-bottom: 3rem;
}

/* Story section */
.story {
    min-height: 100vh;
    font-size: 1.2rem;
    color: #dedede;
}

.story-card {
    color: inherit;
    background-color: inherit;
    border: none;
    margin-bottom: 12rem;
}

/* Global card styles */
.card-text {
    font-size: 1.1rem;
}

.card-img-top {
    height: 28rem;
    object-fit: cover;
    width: 100%;
}

/* Contrib section */
.contribs {
    min-height: 100vh;
    font-size: 1.2rem;
    color: #dedede;
}

.contribs a {
    color: rgb(25, 25, 25) !important;
}

.contribs a:hover {
    color: #868686 !important;
}

.contrib-card {
    color: rgb(25, 25, 25);
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    margin-bottom: 12rem;
    transition: all 0.3s ease;
}

.contrib-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 9px 4px rgba(205, 205, 205, 0.7);
}

/* Projects section */
.projects {
    min-height: 100vh;
    font-size: 1.2rem;
    color: #dedede;
}

.proj-card {
    color: rgb(25, 25, 25);
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    margin-bottom: 12rem;
    transition: all 0.3s ease;
}

.proj-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 9px 4px rgba(205, 205, 205, 0.7);
}


/* Skills section */
.skills {
    min-height: 100vh;
    font-size: 1.2rem;
    color: #dedede;
}

.skills-card {
    color: inherit;
    background-color: inherit;
    border: none;
    margin-bottom: 12rem;
    text-align: center;
}

/* Removes bullet points from lists */
ul {
    list-style-type: none;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    font-size: 1.1em;
    color: #dedede;
}

footer a {
    color: #dedede !important;
    padding: 5%;
}

footer a:hover {
    color: #707070 !important;
}

/* Media queries */
@media (max-width: 1024px) {
    .masthead {
        min-height: 33vh;
    }
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .masthead {
        min-height: 33vh;
    }
    h1 {
        font-size: 2rem;
    }
}