nav {
    background-color: #0d0d0d;
    --bs-gutter-x: none !important;
    
}

body {
    background-color: #0d0d0d;
    color: #f0f0f0;
}

.masthead {
    background-image: url("/assets/images/pier2.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #f0f0f0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

h1 {
    font-size: 4rem;
}

.fancy {
    font-family: 'Dancing Script', cursive;
}

.div1 {
    background-color: #0d0d0d;
    min-height: 34vh;
}

.div2 {
    background-color: #0d0d0d;
    min-height: 34vh;
}

.div3 {
    background-color: #0d0d0d;
    min-height: 34vh;
}

@media (max-width: 768px) {
    .masthead {
        min-height: 33vh;
    }
    h1 {
        font-size: 2rem;
    }
}